server.port=<port>


spring.data.mongodb.uri=mongodb://<host>:27017/database
spring.data.mongodb.database=<database>

spring.data.postgres.driver-class-name=org.postgresql.Driver
spring.data.postgres.url=jdbc:postgresql://<host>:<port>/database
spring.data.postgres.username=username
spring.data.postgres.password=password
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.show_sql=true


spring.rabbitmq.host=<host>
spring.rabbitmq.port=<port>
spring.rabbitmq.username=username
spring.rabbitmq.password=password

rabbitmq.queue.name=queue
rabbitmq.exchange.name=xchange
rabbitmq.routing.key=routing_key

docker.image.name=<image_name>